# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Build artifacts
vscode/
out/
build-artifacts/
*.tar.gz
*.deb
*.rpm
*.dmg
*.exe

# Docker
.docker
.docker-compose.local.yml

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
npm-debug.log*

# Rashizun Data
data/
.rashizun/*.lock

# Logs
logs/
*.log
SECURITY_AUDIT.md
